{% extends 'dreamapp/header.html' %}
{% block content %}

<head>
    {% load static %}
    {{ form.media }}
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5864886611650170"
     crossorigin="anonymous"></script>
</head>

<body>
    <div class="container center" style="margin-top:10em">
        <!--
        <div class="container center">
          <img class="" width="300" src="{% static 'main/images/noback.png' %}">
        </div>
    -->
        <a class="material-symbols-outlined "
            style="font-size: 300px;animation: prism-animation 33S cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;">change_history</a>
        <h5 class="goldman-regular center">ANALYTICAL PSYCHOLOGY</h5>
        <div class="container">
            <p class="exo-200t center">
                Analytical psychology, created by Carl Jung, delves into the hidden parts of the mind to grasp how
                people behave and form personalities. It focuses on the collective unconscious, a shared pool of symbols
                and patterns across cultures. Analytical psychology believes in individuals reaching their fullest
                potential and becoming whole through a process called individuation, where they blend their conscious
                and unconscious thoughts. Dreams, fantasies, and symbols are seen as tools for understanding oneself
                better, aiming for more self-awareness and inner balance.
            </p>
        </div>
    </div>





</body>
{% endblock %}