{% extends 'dreamapp/header.html' %}
{% block content %}

<head>
  {% load static %}
  {{ form.media }}
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5864886611650170"
    crossorigin="anonymous"></script>
  <meta name="google-adsense-account" content="ca-pub-5864886611650170">
</head>

<body>
  <div class="container" style="margin-top: 5em;margin-bottom: 2em;">
    <h2 class="goldman-regular center mobile-exo200h">WALL OF DREAMS</h2>
    <div class="container" style="border-top: 1px solid rgba(160, 160, 160, 0.2);">
      <div class="exo-200" id="dreams-container">
      </div>
    </div>
  </div>

  <div class="container" style="margin-top: 1em; margin-bottom: 1em;">
    {% for item in dreams_with_replies %}
    {% if item.dream.active == True %}
    <div class="flow-text">
      <div class="card horizontal" style="border:1px solid #4accb2;border-radius:20px">
        <div class="card-stacked">
          <div class="card-content">
            <p class="exo-200t flow-text">[ {{ item.dream.mbti_type }} ]{{ item.dream.name }}</p>
            <p class="Exo-200t flow-text">{{ item.dream.title }}</p>
            <p class="dream-text exo-300t flow-text">{{ item.dream.dream }}</p>
            <br>
            <p class="exo-200d right-align">{{ item.dream.pub }}</p>
            <div class="" style="border-top: 1px solid rgba(160, 160, 160, 0.2);margin:1em 0 1em 0"></div>
            <p class="exo-200 flow-text"><strong>Analysis:</strong></p>
            {% for reply in item.replies %}
            <p class="dream-text exo-300t flow-text" style="padding:1em">{{ reply.reply }}</p>
            <p class="exo-200d right-align">{{ reply.pub }}</p>
            {% empty %}
            <p class="exo-200 flow-text"></p>
            {% endfor %}
            {% if request.user.is_authenticated %}
            <form method="POST" action="">
              {% csrf_token %}
              <input type="hidden" name="dream_email" value="{{ item.dream.email }}">
              <div class="row">
                <div class="input-field col s12 exo-200">
                  <textarea id="textarea1" name="reply" class="validate materialize-textarea exo-200"></textarea>
                  <label for="textarea1">Reply*</label>
                </div>
              </div>
              <button class="btn btn-small center hoverable exo-200" type="submit" style="width:100%;margin-top:0.5rem">
                [ <b class="center">SUBMIT</b> ]
              </button>
            </form>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    {% endif %}
    {% endfor %}
</div>

</div>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5864886611650170"
      crossorigin="anonymous"></script>
    <!-- horizontal -->
    <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-5864886611650170" data-ad-slot="9254178418"
      data-ad-format="auto" data-full-width-responsive="true"></ins>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5864886611650170"
    crossorigin="anonymous"></script>
  <!-- Square -->
  <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-5864886611650170" data-ad-slot="7437667898"
    data-ad-format="auto" data-full-width-responsive="true"></ins>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
  <style>
    .dream-text {
      white-space: pre-wrap;
    }
  </style>
  <!--
  <script>
    var all_json_data = {{all_json_data | safe}};

    var dreamsContainer = document.getElementById("dreams-container");

    // Iterate over all_json_data to create card divs for each dream
    all_json_data.forEach(function (dream) {
      // Create a new card div
      var cardDiv = document.createElement("div");
      cardDiv.classList.add("card");

      // Create card content
      var cardContentDiv = document.createElement("div");
      cardContentDiv.classList.add("card-content");

      // Add dream data to the card content
      cardContentDiv.innerHTML = `
          <span class="card-title">${dream.title}</span>
          <p><strong>Name:</strong> ${dream.name}</p>
          <p><strong>MBTI Type:</strong> ${dream.mbti_type}</p>
          <p><strong>Dream:</strong> ${dream.dream}</p>
      `;

      // Append card content to the card div
      cardDiv.appendChild(cardContentDiv);

      // Append the card div to the dreams container
      dreamsContainer.appendChild(cardDiv);
    });
  </script>
-->
</body>
{% endblock %}