{% extends 'dreamapp/header.html' %}
{% block content %}

<head>
    {% load static %}
    {{ form.media }}
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5864886611650170"
        crossorigin="anonymous"></script>
</head>

<body>
    <div class="container center" style="margin-top:5em">
        <div class="container center">
            <a class="material-symbols-outlined center"
                style="font-size: 300px;animation: prism-animation 43s cubic-bezier(0.19, 1, 0.22, 1) infinite;">error</a>
            <h5 class="goldman-regular center mobile-exo200h">404 Not Found</h5>
            <div class="">
                <h1 class="exo-200 flow-text">404 - Page Not Found</h1>
                <p class="exo-200 flow-text">The requested page could not be found on this server.</p>
            </div>
        </div>
    </div>
</body>
{% endblock %}