{% extends 'dreamapp/header.html' %}
{% block content %}

<head>
    {% load static %}
    {{ form.media }}
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5864886611650170"
        crossorigin="anonymous"></script>
    <meta name="google-adsense-account" content="ca-pub-5864886611650170">
</head>

<body style="margin: 0; padding: 0; height: 100vh; display: flex;align-items: center;justify-content: center;">
    <div class="container" >
        <div class="container">
            <h1 class="goldman-bold" style="margin-top: 22%;">// Carl Jung's Jungian Psychology </h1>
            <div>
                <p class="exo-200t flow-text left-align">
                    Find Psychological Balance with Carl Jung's Analytical Psychology: Discover the Hidden Meanings of Your Dreams and Unlock Your Psyche.
                </p>
            </div>
            <div style="margin-top:2em">
                <button class="btn btn-small center hoverable exo-200" onclick="window.location.href='/consult/'"
                    style="width:100%;margin-top:0.5rem;height:80px;border:1px solid white;border-radius: 10px">
                    <a class="center exo-200t flow-text"><strong>Get A Consultation</strong></a>
                </button>
            </div>

        </div>
    </div>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5864886611650170"
        crossorigin="anonymous"></script>
    <!-- Horizontal -->
    <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-5864886611650170" data-ad-slot="7852600863"
        data-ad-format="auto" data-full-width-responsive="true"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>

</body>

{% endblock %}