{% extends 'dreamapp/header.html' %}
{% block content %}

<head>
    {% load static %}
    {{ form.media }}
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5864886611650170"
     crossorigin="anonymous"></script>
</head>

<body>
    <div class="container center" style="margin-top:10em">
        <a class="material-symbols-outlined center"
            style="font-size: 300px;animation: prism-animation 53s cubic-bezier(0.075, 0.82, 0.165, 1) infinite;">circle</a>
        <h5 class="goldman-regular center">INDIVIDUATION</h5>
        <div class="container">
            <p class="exo-200t center">
                Individuation, a key idea in analytical psychology by Carl Jung, is about discovering oneself throughout life and bringing together different parts of the mind. It's the journey toward feeling complete and understanding one's true nature. Individuation focuses on blending conscious and unconscious thoughts, including personal experiences, emotions, and deep patterns. Through individuation, people aim to be genuine and self-aware, embracing both their positive and negative sides. It involves facing unconscious thoughts, resolving inner conflicts, and building a well-rounded personality. Individuation isn't just personal but also about connecting with human and helping consciousness evolve. It's a lifelong path of self-discovery, development, and fulfillment.
            </p>
        </div>
    </div>



</body>
{% endblock %}